html {
    scroll-behavior: smooth;
}
#extraspecial {
    color: rgb(59, 8, 18)
}
.special {
    color: rgb(46, 49, 134);
}
title {
    font-family: "Ubuntu", sans-serif;
}
body {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    color: rgb(79, 11, 25);
}
h2 {
    font-family: "Ubuntu", sans-serif;
}
h3 {
    color: rgb(111, 33, 111);
    font-family: "Albert Sans", sans-serif;
}
p {
    line-height: 1.5em;
}
body {
    width: 700px; margin: auto;
    background-color: rgb(226, 215, 209);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: inline-block;
    width: 110px;
    background-color:rgb(173, 190, 251);
    color: rgb(111, 33, 111);
    font-weight: bold;
    padding: 10px;
    border: 1px solid rgb(59, 8, 18);
    text-decoration: none;
    margin-bottom: 5px;
    text-align: center;
}