html {
    scroll-behavior: smooth;
}
#extraspecial {
    color: rgb(59, 8, 18)
}
.special {
    color: rgb(46, 49, 134);
}
body {
    color: black; font-family: Arial;
}
h1 {
    color: rgb(79, 11, 25);
}
h3 {
    color: rgb(111, 33, 111);
}
p {
    line-height: 1.5em;
}
body {
    width: 700px; margin: auto;
    background-color: rgb(226, 215, 209);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: inline-block;
    max-width: 40px;
    background-color:rgb(210, 214, 231);
    color: rgb(111, 33, 111);
    font-weight: bold;
    padding: 10px;
    border: 1px solid rgb(59, 8, 18);
    text-decoration: none;
    margin-bottom: 5px;
    text-align: center;
}