#extraspecial {color: rgb(79, 11, 25)}
.special {color: mediumvioletred;}
body {color: black; font-family: Arial;}
h1 {color: rgb(79, 11, 25);}
h3 {color: rgb(128, 39, 128);}
p {line-height: 2em;}
body {width: 700px; margin: auto;}
